@font-face {
    font-family: 'canela';
    src: url('/public/Fonts/Canela/Canela-Black.woff2') format('woff2'),
        url('/public/Fonts/Canela/Canela-Black.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'canela';
    src: url('/public/Fonts/Canela/Canela-Bold.woff2') format('woff2'),
        url('/public/Fonts/Canela/Canela-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Helvetica';
    src: url('/public/Fonts/Helvetica/Helvetica-BoldOblique.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Helvetica';
    src: url('/public/Fonts/Helvetica/Helvetica-Bold.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/public/Fonts/Helvetica/Helvetica.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Helvetica';
    src: url('/public/Fonts/Helvetica/Helvetica-Light.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaRounded';
    src: url('/public/Fonts/Helvetica/HelveticaRounded-Bold.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/HelveticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/public/Fonts/Helvetica/Helvetica-Oblique.woff2') format('woff2'),
        url('/public/Fonts/Helvetica/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

