@import "../utilities/variable";
@import "../utilities/mixin";


#section-categories{
    // height: 100dvh;
    padding: 6rem 8rem 5rem;

    .btn{
        @include respond (sm) {
            display: none;
        }
    }

    @include respond (md) {
        padding: 6rem 5rem 5rem ;
    }

    @include respond (sm) {
       padding: 4rem 5rem;
    }

    @include respond (xs) {
        padding: 4rem 3rem;
    }
}

#section-carousel{
    // height: 95dvh;
    padding: 4rem 0 7rem;

    @include respond (sm) {
        padding: 2rem 0 5rem;
    }

    
  
}

#section-features{
    // height: 90dvh;
    padding: 6rem 7rem;

    @include respond (lg) {
        padding: 6rem 4rem;
    }

    @include respond (md) {
        padding: 6rem 10rem;
    }

    @include respond (sm) {
        padding: 6rem 4rem;
    }

    @include respond (xs) {
        padding: 6rem 2rem;
    }
}

.container-grid{
    // height: 56.4rem;
    max-width: 105rem;
    margin: auto;
}

#section-experience{
    padding: 5rem 8rem 4rem;

    @include respond (mds) {
        padding: 5rem 5rem 4rem;
    }

    @include respond (sm) {
        padding: 5rem 7rem 4rem;
    }

    @include respond (xs) {
        padding: 5rem 5rem 4rem;
    }
}

#section-origene{
    padding: 5rem 0 4rem;

    @include respond (sm) {
        padding: 4rem 4rem 3rem;
    }

    @include respond (xs) {
        padding: 4rem 2rem 3rem;
    }

    .img-box{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 4rem 0;
        border-top: 1px solid #444444;

        @include respond (sm) {
            width: 100%;
        }

        img{
            width: 21%;

            
        @include respond (sm) {
            width: 40%;
        }
        }
    }
}


.footer{
    padding: 10rem 7% 5rem;
    background: $color-secondary;
    color: $color-primary;

    @include respond (lg) {
        padding: 10rem 6% 5rem;
    }

    @include respond (sm) {
        padding: 5rem 8%;
    }

    

    @include respond (xs) {
        padding: 5rem 6%;
    }
}


  

  