@import "../utilities/variable";
@import "../utilities/mixin";


.feature-box{
    margin: auto;
    // max-height: fit-content;
}

.features{
    width: 100%;
    display: grid;
    grid-template-columns: 8% 1fr 8%;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 60rem;

    @include respond (sm) {
        max-height: 50rem;
    }


    .text-box{
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: left;
        margin-top: 7rem;
        

        @include respond (sm) {
            margin-top: 2rem;
        }
    }

    .subtext{
        display: flex;
        // align-items: center;
        // justify-content: space-between;

        .substringText{
            display: none;

            @include respond (sm) {
                display: inline-block;
            }
        }


        .paragraph{
            // display: none;

            @include respond (sm) {
                display: none;
            }
        }
    }
}

.features-1{
    background: linear-gradient(224deg,rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 85%), url('/image/CASSI—STANDING.webp');
    background-size: 110%;
    background-position: top;

    @include respond (sm) {
        background-size: 130%;
    }

    @include respond (xs) {
        background-size: 135%;
    }
}

.features-2{
    background:  url('/image/HQ_0592_2_copy_2_1.webp');
    background-size: 176%;
    background-position: center;
    

    .black-box{
        grid-column: 1/-1;
        grid-row: 3/4;
        margin-top: 2rem;
        background-color: black;

        @include respond (sm) {
            margin-top: 0rem;
        }
    }

    

   

    a{
        width: 15%;

        img{
            width: 100%;
        }
        @include respond (mds) {
            display: none;
        }
    }

   

    @include respond (lg) {
        background-size: 210%;
    }

    @include respond (md) {
        background-size: 176%;
    }

    @include respond (xs) {
        background-size: 200%;
    }
}

.feature-2-card{


    @include respond (sm) {
        display: none;
    }
}

.feature-2-btn{
    display: none;

    @include respond (sm) {
        display: grid;
    }
}