@import "../utilities/variable";
@import "../utilities/mixin";
@import "../animations/animations";

.nav-container{
    width: 100%;
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    position: fixed;

    .header{
        display: flex;
        width: 89.5%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        // position: fixed;

        .logo-box{
            flex-basis: 13%;

            @include respond (md) {
                flex-basis: 25%;
            }

            
            @include respond (sm) {
                flex-basis: 37%;
            }

             
            @include respond (xs) {
                flex-basis: 38%;
            }
            img{
                width: 100%;
            }
        }
        nav{
            display: flex;
            justify-content: space-between;
            // flex-basis: 25%;
            button{
                display: none;
            }
            

            a{
                &:not(:first-child) {
                    margin-left: 2.5rem;
                }

                @include respond (md) {
                    &:not(:first-child) {
                        margin-left: 0;
                    }
                }
            }
            
            
            @include respond(md){
                visibility: hidden;
                opacity: 0;
                // height: 0;
                position: absolute;
                // top: 0;
                right: 0;
                width: 100%;
                transform: translateX(100%);
                transition: all .4s;
            }
        }

        nav.open{
            visibility: visible;
            // animation: fadeDown 0.3s ease-out forwards;
            transform: translateX(0);
            height: 100%;
            opacity: 1;
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            background-color: #fff;
            padding: 3rem 4rem;
            text-align: left;
            justify-content: start;
            padding-top: 5rem;
            //height: 150px;


            button{
                display: flex;
                justify-content: center;
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                background: $color-secondary;
                color: $color-primary;
                font-size: 4.5rem;
                border: 0;
                position: absolute;
                right: 3rem;
            }
            
            a{
                color: black;
                font-size: 2rem;
                padding: 1rem 0;
            


                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            // img{
            //     width: 90%;
            //     margin: auto;
            //     margin-top: 3rem;
            // }
        }

        .icons{
            display: flex;
            flex-basis: auto;
            // justify-content: space-between;
            // justify-content: center;
            align-items: center;

            @include respond (xs) {
                flex-basis: 35%;
            }

            a{
                margin-left: 2rem;

                @include respond (sm) {
                    margin-left: 1.5rem;
                }
            }

            
            #menu{
                display: none;
                margin-left: 2rem;

                @include respond (md) {
                    display: inline-block;
                    width: auto;
                }

                @include respond (sm) {
                    // width: 15%;
                    margin-left: 1.5rem;
                }
            }
        }
    }
}

.scrolled .header {
    color: #000;
}

.scrolled {
    background-color: white !important;
  
    color: $color-secondary;
    /* Or any color you prefer */
    /* Adjust text color if needed */
}

.scrolled.nav-container .header nav a, .scrolled.nav-container .icons a .nav-icons{
    color: $color-secondary !important;
}