@import "../utilities/variable";
@import "../utilities/mixin";

.btn{
    padding: .5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transition: all .2s;

    &:hover{
        transform: scale(0.94);
    }
}

.btn-sm{
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    text-decoration: none;
    transition: all .2s;

    &:hover{
        transform: scale(0.94);
    }

    @include respond (md) {
        width: 100%;
        // font-size: 1.6rem;
        padding: 1.5rem 1.8rem;
    }
}

.btn-rounded{
    padding: 1.2rem 1.7rem;
    font-size: 1.7rem;
    border-radius: 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius: 50rem;
    -ms-border-radius: 50rem;
    -o-border-radius: 50rem;
    font-weight: 900;
    transition: all .2s;

    &:hover{
        transform: scale(0.94);
    }
}


.btn-md{
    padding: 1rem;
    // padding-left: 1.3rem;
    // padding-right: 1.3rem;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    margin-top: 5rem;
    transition: all .2s;

    &:hover{
        transform: scale(0.94);
    }
    // width: 16.6rem;
    // height: 7.1rem;
}

.button-box{
    width: 100%;
    height: 7.1rem;
    .btn{
        transition: all .2s;

        &:hover{
            transform: scale(0.94);
        }
    }
}

.btn-white{
    color: $color-secondary;
    background-color: $color-primary;
    // transition: all .2s;

    // &:hover{
    //     color: $color-primary;
    //     background-color: $color-secondary;
    // }
}

.btn-black{
    color: $color-primary;
    background-color: $color-secondary;
    // transition: all .2s;

    // &:hover{
    //     color: $color-secondary;
    //     background-color: $color-primary;
    // }
}


.features-btn{
    transition: all .2s;

    &:hover{
        transform: scale(0.94);
    }
}