@import "../utilities/variable";
@import "../utilities/mixin";

.experience-card{
    background: $color-grey;
    padding: 3rem 5rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: -1px 6px 28px -5px rgba(0,0,0,0.15);
    -webkit-box-shadow: -1px 6px 28px -5px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 6px 28px -5px rgba(0,0,0,0.15);

    @include respond (lg) {
        padding: 3rem 3rem;
    }

    @include respond (md) {
        padding: 3rem 2rem;
    }

    .img-box{
        width: 13%;
        margin: auto;
        img{
            width: 100%;
        }
    }

    .experience-text{
        font-weight: 300;
        text-align: center;
        h4{
            font-size: 1.8rem;
            font-weight: 300;
        }
        p{
            font-size: 1.2rem;
            // width: 24.5rem;
            // margin: auto;
        }
    }
}
    