@import "../utilities/variable";
@import "../utilities/mixin";

:root {
  --duration: 18s;
} /* change to speed up/slow down */

.quality-spread {
  display: grid;
  grid-template-rows: 1fr;
  font-family: Helvetica;
  overflow: hidden;
}


.white-gradient{
  content: "";
  height: 29.6px;
  width: 100%;
  z-index: 2;
  background: linear-gradient(268deg, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0.99));
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}


.marquee {
  width: 100%; /* change to fit your layout */
  overflow: hidden;
  background: transparent;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

/* the moving track */
.marquee__inner {
  display: inline-flex; /* keep items in one line */
  white-space: nowrap;
  will-change: transform;
  animation: marquee var(--duration) linear infinite;
}

.marquee__item {
  display: inline-flex;
  align-items: center;
  padding: 0 3rem; /* spacing between items */
  font-size: 1.3rem;
  font-weight: 300;
  white-space: nowrap; /* important — no wrapping */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  } /* moves exactly one full sequence (the clone) */
}

/* small perf hint */
// .marquee__inner {
//   transform: translate3d(0, 0, 0);
// }
